@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/stratos-lc-web');

:root {
  --font-inter: 'Inter', sans-serif;
  --font-stratos: 'Stratos_LC_Web', sans-serif;
}
